


<form #kukkuform='ngForm' (ngSubmit)="onSubmite(kukkuform.value)">
    ID:<br /> <input type="text" ngModel name="id" id="id"><br /><br />
    fName:<br /> <input type="text" ngModel name="fname" id="name"><br /><br />
   lname:<br /> <input type="text" ngModel name="lname" id="mark"><br /><br />
    dD:<br /> <input type="text" ngModel name="dd" id="id"><br /><br />
   no:<br /> <input type="text" ngModel name="no" id="name"><br /><br />
    Mark:<br /> <input type="text" ngModel name="mark" id="mark"><br /><br />
    
   fo:<br /> <input type="text" ngModel name="fo" id="id"><br /><br />
   so:<br /> <input type="text" ngModel name="so" id="name"><br /><br />
   to:<br /> <input type="text" ngModel name="to" id="mark"><br /><br />
    lo:<br /> <input type="text" ngModel name="lo" id="id"><br /><br />
    

    <input class="bg-primary btn text-light " type="submit"  value="submit">
    </form> 