



<footer>
    
    <div class="container-fluid header-bg ">
  
      <div class="row">
        
    <div class="col-md-12 justify-content-center d-flex pt-5 pb-5  ">
  
  
        <div><i class="fab fa-whatsapp-square kukku-ficon p-1 "></i></div>

    	<div><i class="fab fa-facebook-square kukku-ficon p-1"></i></div>

    	<div><i class="fab fa-instagram-square kukku-ficon p-1"></i></div>

    	<div><i class="fab fa-twitter-square kukku-ficon p-1"></i></div>
    	
    	<div><i class="fab fa-youtube-square kukku-ficon p-1"></i></div>
  
  
  
  
      
      
  
    </div>
  
    <div class="col-md-12 ">
      
      <div class="">
        <a href="#"><i class="fa fa-caret-up kukku-ficon p-1 " style="float: right;"></i></a>
      </div>
      
    </div>
  
    <div class="col-md-12 justify-content-center d-flex " style="background-color: #374957;">
      <div >
  
        
  
      <p class="kukku-fright pt-auto"> Copyright © sreejithtrkukkies.production 2022</p> 
      </div>
    </div>
      </div>
  
      
    </div>
    
  </footer>

