





html{
	scroll-behavior: smooth;
}



.header-bg{
	background-color: #1d262d;
}

.nav-item a{
	color: white;
    

}
.nav-item :hover{
	color: white;

}
.nav-item :focus{
	color: white;

}
.navbar-toggler-icon{
	color: white;
}
.kukkies{
	padding-left: 5rem 
}
.navbar{
	float: right;
}

.rounded-circle{
	background-color:  #1d262d;
	border: 0.1em solid  #1d262d;
}
.card{
	border: none;
	
}
.kukku-ac{
	width: 100%;
}

.card-text{
	
	text-align: justify;
}

.kukku-ad{
	background-color: whitesmoke;
	/*border: 0.1em solid dimgray;*/
	border-radius: 0.6em;
}

.kukku-float{
	float: left;
}
.progress-bar{
	text-align: right;
}

/*.kukku-thumb{
    padding-left: 4.5rem;
}*/
.kukku-font{
	font-family: sans-serif;
	color: #374957;;
	
	
}
.fa{
	font-size: 4em;
}

.kukku-fa{
	font-size: 2em;
	color: darkred
}
.kukku-fa:hover{
	font-size: 2.1em;
	color: darkgreen;
}
.kukku-academic{
	font-size: 2em;
	font-weight: 600;
	color: black;
}
.kukku-present{
	font-size: 1em;
	font-weight: 600;
	color: dimgrey;
}

.kukku-lorem{
	font-size: 0.5em;
	color: dimgrey;
	
}
.shadow-lg{
	text-align: justify;
}
.kukku-service-hd{
	color: ghostwhite;
}

.kukku-service-p{
	color: #ebe7e7
}
.kukku-work-row{

	margin-right: 5rem;

}

.kukku-jq{

box-shadow: 0 .5rem 1rem rgba(0,0,0,.20);
}
.kukku-soft{
	padding-left: 7rem;
}
.kukku-fab{
	font-size: 6em;
	text-align: center;
	color:#bdbdbd;
}
.kukku-fab:hover{
	
	text-align: center;
	color:#faf9ff;
}

.kukku-nhd{
	font-size: 1.5em;
	color: #1d262d;
}
.kukku-form{
	border: 0.1em solid #dbd8d8;
}

.kukku-ficon{
	font-size: 2em;
	color: whitesmoke;
}
.kukku-fright{
	font-size: 0.9em;
	color: #a1a5a1;
	line-height: 2em;
}
.kukku-about-icon{
	color:#2b3a46;
	
	
}
.kukku-about-icon:hover{
	color:#ffbe29;
	
	
}

.kukku-work-a{

	text-decoration: none;
	color:  #1d262d;

}
.kukku-work-a:hover{
	color:#e1ad37;
}

.kukku-bar{
	background-color: indigo;
}

.kukku-cv{
  background-color: #1d262d;
  color: white;
}
.kukku-utton-carousel{
	color: #1d262d;
	background-color: #1d262d;
}
.carousel-indicators{
	z-index: 1;
}


/* #new */


.k-nav{
    
    font-size: 1.2rem;
}
.k-search{
    padding-top: 0rem;
    padding-right: 0rem;
}

.btn-outline-success {
    color: #ffffff;
    border-color: #ffffff

}

.k-navb{
	position: relative;
	right: 2rem;
}
.k-navul li{
	margin: 0;
	position: relative;
	right: 2rem;
	top: 2rem;
}

.navbar{
	float: none;
}



.k-colpic div{
	text-align: center;
	
	background-color: whitesmoke;
}
.k-colbox div{
	text-align: center;
	
	background-color: #e9ecef;
}
.k-pic-img img{
	width: 80%;
	
}
.fhw{
	font-size: 110%;
}
.figure-caption{
	color: #5a072e;
}
.k-colport {
	text-align: center;
	
	background-color: whitesmoke;
}


.figure a{
	color: #5a072e;
	text-decoration-line: none;
}
.figure a:hover{
	
    color: #2b3a46;
}