





<div class="container-fluid">



    <div class="row   kukku-adport-box ">

       


        <div class="kukku-adport-content card text-center">

            <a class="navbar-brand  p-4 pt-5" href="#"> <img class="img-fluid " src="assets\img\CollegeLogoBW.png" alt="" width="160px" height="206px"></a>

            <h1 class="kukku-adport-h1">STUDENTS PORTAL</h1>

            <div class="row pb-5">


                <div class="col-md-6 kukku-adport-pdiv">

                    <p class="kukku-adport-para pt-5">
                        A digital platform for the students to manage the data on Infrastructural details and status profile. 
                        Basic stutents details, Attendance details, Interal marks details, updated and collected from the Department.
                        Data collection from Department Basic Details, Details, Other Officer Details, Extra Curricular 
                        Activity Details and Infrastructural Details.


                    </p>

                </div>

                <div class="col-md-6 kukku-adport-pdiv">

                    <div class="kukku-adport-login pt-5">

                        <form  [formGroup]="login" (ngSubmit)="kukkulodIn(login)">
                            <div class=" kukku-adport-login-div">

                              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Roll No" formControlName="id"[(ngModel)]="loginId">
                             
                            </div>
                            <div class="mb-3 kukku-adport-login-div kukku-adport-login-div-pass">
                             
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password" [type]="hide ? 'password' : 'text'" formControlName="pwd" >
                              <span class="" id="inputGroupPrepend3"><button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button></span>
                              
                              
                            </div>

                            <div class="pt-3 " style="float: left;"> 
                               
                                <button type="submit" class="btn kukku-adport-login-btn mb-3 ">Login</button>
                                
                            </div>
                            <!-- <div class="pt-3 kukku-forgot" style="float: right;"> 
                                <a  routerLink="/forgot">forgot password</a>
                            </div> -->
                           
                            
                          </form>
                          
                    </div>
                    
                     
                </div>
            </div>




        </div>
    </div>
</div>