

<div class="container-fluid">

    <section class="">
    
        <div class=" p-5">
            <div class="k-adpage text-center ">
              <img class="img-fluid " src="assets\img\CollegeLogoBW.png" alt="" width="198px" height="248px">
                <h3 class="pt-3 ">Admission Portal</h3>
            </div>

            
          
        <div class="row p-5 mx-auto k-admission-colbox text-center ">

            
      
          
      
      
          <div class="col-md-6 mx-auto">
      
           
              
            <a routerLink="/add" class="text-center  k-course-a ">
              <div class="k-course img-fluid ku-max-course ">
              <i class="fa fa-graduation-cap img-fluid  pt-3"></i>
              <h5>UG</h5>
          </div>
      </a>
    
           
    
        </div>

          <div class="col mx-auto">
      
           
              
              <a routerLink="/add" class="text-center k-course-a">
                <div class="k-course img-fluid ku-max-course">
                <i class="fa fa-graduation-cap  img-fluid pt-3"></i>
                <h5>PG</h5>
            </div>
        </a>
             
      
          </div>
      
          
      
         
        </div>
      
      
      </div>
      </section>
</div>