



<div class="container-fluid">

    <section class="pb-5">
    
        <div class=" ">
            <div class="k-ad-reg-page text-center ">
                <img class="img-fluid " src="assets\img\CollegeLogoB.png" alt="" width="128px" height="165px">
                <h3 class="pt-3 ">Admission Registration</h3>
            </div>

            
          
        <div class="p-5 mx-auto k-admission-update-Box text-center ">

            <h5 class="pt-3 pb-5">Registration Details</h5>
           
        <div class="table-responsive ">

            <table class="table " >
                    
                <thead class="p-5">
                    <tr class="p-5">
                        
                        
                        <th>NAME</th>
                        <th>DOB</th>
                        <th>EMAIL</th>
                        <th>MOBILE NO</th>
                        <th>REG NO</th>
                        <th>MARK</th>
                        <th>1ST Option</th>
                        <th>2ND Option</th>
                        <th>3RD Option</th>
                        <th>4TH option</th>
                       
                    </tr>
                    <br>
                </thead>
                <br>
                <tbody class="p-5">
                    <ng-container >
                    <tr >
                        
                        
                        <td>{{reglog.fname}}</td> 
                        <td>{{reglog.dd }}</td>
                        <td >{{reglog.email}}</td>
                        <td>{{reglog.no}}</td>
                        <td>{{reglog.id}}</td>
                        <td>{{reglog.mark}}</td>
                        <td>{{reglog.fo}}</td>
                        <td>{{reglog.so}}</td>
                        <td>{{reglog.to}}</td>
                        <td>{{reglog.lo}}</td>
                       
                        
                       
                    
                               
                    </tr>
                </ng-container>
               
                </tbody>
            </table>

            


           
            
                          

        </div>

        <div class="text-center pt-5 list-group k-update-click">
        <ul>
            <li><span>Change Your Option?  </span> <b class="" routerLink="/us/ua/uaud/{{reglog.id}}">Click here</b> </li>
          
        </ul>
          
        </div>
      
      
      
          
      
          
      
         
        </div>
      
      
      </div>
      </section>
    
</div>