






<div class="container-fluid">

    
    

<div class="row ">

    <div class="k-logout p-2" >
        <button mat-raised-button  class="btn k-btn"style="float: right;" (click)="logout()">logout

        </button></div> 

    <div class="  kukku-adport-box ">




        <div class="kukku-adport-content card text-center">

            <a class="navbar-brand  p-4 pt-5" href="#"> <img class="img-fluid " src="assets\img\CollegeLogoBW.png" alt="" width="160px" height="206px"></a>

            <h2 class="kukku-adport-h1">ADMIN PORTAL</h2>


            <div class="kukku-open-div-blocks">

            <div class="row kukku-open-div">
                

                <div class="col-md-3"><button mat-raised-button color="primary" class="kukku-open-button" routerLink="/ad/aam">ADMISSION</button></div>
                <div class="col-md-3"><button mat-raised-button color="primary" class="kukku-open-button" routerLink="/ad/arg">EXAMINATION</button></div>
                <div class="col-md-3"><button mat-raised-button color="primary" class="kukku-open-button" routerLink="/ad/ars">RESULTS</button></div>
                <div class="col-md-3"><button mat-raised-button color="primary" class="kukku-open-button"  routerLink="/ad/adsi">STUDENT INFO</button></div>

            </div>

        </div>

                
            




        </div>
    </div>
 </div>
</div>