

<div class="kukku-main-div">

    <h1 mat-dialog-title class="kukku-h1 pt-3 pb-4" >Master of Science (MSC)</h1>
    <mat-dialog-content class="kukku-con">
      
      <p><b>Master of Science(MSC) </b>is a master's degree in the field of science awarded by universities
         in many countries or a person holding such a degree.[1] In contrast to the Master of Arts degree,
          the Master of Science degree is typically granted for studies in sciences, engineering and medicine and is
           usually for programs that are more focused on scientific and mathematical subjects; however, different universities 
           have different conventions and may also offer the degree for fields typically considered within the humanities
            and social sciences. While it ultimately depends upon the specific program, earning a Master of Science degree typically includes writing a thesis.


        
        </p>
    
        
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Close</button>
     
    </mat-dialog-actions>
    
    </div>