

<div class=" ">

   
    <!-- carousel -->

    
    <section class="">
      <div class="">
    
    
      <div class="  k-colpic ">
    
        <div class="mx-auto d-block  shadow-sm">
    
          <img src="assets\img\college coverName.jpg" alt="" class="img-fluid rounded" width="100%">
        </div>
      </div>
    </div>
    
    </section>



    <section>

        <section class="">
            <div class=" p-3 kukku-about-box ">

              <div class=" mx-auto kukku-about ">



              <h4 class="h5 text-center p-5" style="color: #ffc700;">ABOUT US</h4>



              <p class="lead p-3">

               <b>  NAISSARGGIKA College of Arts & Science,</b>Perla was started in 2003-04 at Perla (No.Acad/A1/NA&SC/2003, 15th Jan 2004) .This institution,
                at present is under Vivekananda Vidyavardhaka Sangha ® Puttur. At present the aim of the institution is to impart quality education to the students 
                who are socially and economically poor in and around of Kasaragod and the nearby Districts. This institution is affiliated to the Kannur University.

              </p>

              <h5 class="h5 p-3">LOCATION</h5>

              <p class="lead p-3">

                The college is located by the side of Kasaragod-Puttur State Highway, near Perla Check Post which is easily accessible 
                by public conveyance from the places like Kumble, Kasaragod, Cherkala, Badiadka, Mulleria, Padre, Katukukke, Puthige, Adyanadka 
                The College is situated in a location spread over vast area. This is ideal for peaceful learning atmosphere.
              </p>

              <h5 class="h5 p-3">VISION</h5>

              <p class="lead p-3">

                Excellence in education without compromising on quality in learning.
              </p>

              <h5 class="h5 p-3">MISSION</h5>

              <p class="lead p-3">

                The mission of Nalanda College is to provide both ancient and modern education to the youth and make them the real and responsible citizens of the nation.
              </p>

              <h5 class="h5 p-3">HUMAN RESOURCES AND INFRA-STRACTURE</h5>

              <p class="lead p-3">

                The institution has experienced and qualified lecturers. Along with this it has the required infrastructural facilities like library, computers, 
                etc…Hostel Facilities are available for the boys and girls separately.


              </p>

              <h5 class="h5 p-3"> CO-CURRICULAR AND EXTRA-CURRICULAR ACTIVITIES</h5>

              <p class="lead p-3">

                1) NSS 2) Literary Club, 3) Tourism Club, 4) Entrepreneurship Club, 5) Discipline –wise seminars, 6) Coaching Classes 7) Yoga to embody unity of mind and body etc…


              </p>


              



            </div>



          
          
            
          </div>
          
          </section>
    </section>

    

</div>