

<div class="kukku-main-div">

    <h1 mat-dialog-title class="kukku-h1 pt-3 pb-4" >Master of Commerce (MCom)</h1>
    <mat-dialog-content class="kukku-con">
      
      <p><b>Master of Commerce(MCom)</b> is a postgraduate master's degree focusing on commerce-, accounting,
         management- and economics-related subjects. Like the undergraduate Bachelor of Commerce, the
          degree is mainly offered in Commonwealth nations
        
        </p>
    
        
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Close</button>
     
    </mat-dialog-actions>
    
    </div>