


       


<!-- 
<form #kukkuform='ngForm' (ngSubmit)="onSubmite(kukkuform.value)">
    ID:<br /> <input type="text" ngModel name="id" id="id"><br /><br />
    Name:<br /> <input type="text" ngModel name="name" id="name"><br /><br />
    Mark:<br /> <input type="text" ngModel name="mark" id="mark"><br /><br />
    <input class="bg-primary btn text-light " type="submit"  value="submit">
    </form> -->




    

    <div class="container-fluid">

        <section class="pb-5">
        
            <div class=" pt-5">
                <div class="k-ad-reg-page text-center pb-5 ">
                  <img class="img-fluid " src="assets\img\university-solid.png" alt="">
                    <h3 class="pt-3 ">Admission Registration</h3>
                </div>
    
                
              
            <div class="mx-auto k-admission-colbox text-center ">
    
                
         
    
    
                <div class="">


                    <h1 class="text-center">Exam Registration</h1>
                    <div class="d-flex justify-content-center" >



                    <form  class="flaot-right k-ad-insert-form" #formdata="ngForm" (ngSubmit)="examSubmit(formdata)" >
                       <div class="form-group">
                        <label for="id">Course Name</label>
                        <input type="text" class="form-control" id="co" placeholder="Course name" name="co" [(ngModel)]="exreg.co" required>
                        </div>
                        <div class="form-group">
                        <label for="name">Course Serial No</label>
                        <input type="text" class="form-control" id="id" placeholder="Course Code" name="id" [(ngModel)]="exreg.id" required>
                        </div>
                        <div class="form-group">
                        <label for="lastname">Exam Declaration</label>
                        <input type="text" class="form-control" id="ti" placeholder="Declaration" name="ti" [(ngModel)]="exreg.ti" required>
                        </div>
                        <div class="form-group">
                        <label for="mark1">Without Fee Date</label>
                        <input type="text" class="form-control" id="of" placeholder="Enter a Date" name="of" [(ngModel)]="exreg.of" required>
                        </div>
                        <div class="form-group">
                        <label for="mark2">With Fee Date</label>
                        <input type="text" class="form-control" id="wf" placeholder="Enter a date" name="wf" [(ngModel)]="exreg.wf" required >
                        </div>
                        <div class="form-group">
                        <label for="mark3">Last Date </label>
                        <input type="text" class="form-control" id="lf" placeholder="Enter a date" name="lf"[(ngModel)]="exreg.lf" required  >
                        </div>
                        <div class="form-group">
                            <label for="mark3">Super Date:</label>
                            <input type="text" class="form-control" id="sf" placeholder="Enter a date" name="sf" [(ngModel)]="exreg.sf" required>
                        </div>
                        <button type="submit" class="btn kukku-adport-login-btn">Submit</button>
                    </form>
                </div>
               
        
        
    
            </div>
              
          
          
              
          
              
          
            
            </div>
          
          
          </div>
          </section>
    </div>