


<div class="">



    <!-- carousel -->

    <div class="  k-colpic ">
    
      <div class="mx-auto d-block  shadow-sm">
  
        <img src="assets\img\academicCOVER.jpg" alt="" class="img-fluid " width="100%">
      </div>
    </div>


    <!-- content -->

    <section>

        <section class="">
            <div class="  p-3 kukku-about-box ">

              <div class=" mx-auto kukku-about pb-5">



              <h4 class="h5 text-center p-5">ACADEMICS</h4>

              

             

              <mat-accordion class="p-5">
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header >
                    <mat-panel-title >
                      <h5 class="h5 pt-2">UG Programmes</h5>
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>

                  <mat-list >
                    <mat-list-item (click)="openDialogba()"><button mat-button class="kukku-button" ><h6>BA</h6></button></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="openDialogbsc()"><button mat-button class="kukku-button" ><h6>BSC</h6></button></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="openDialogbca()"><button mat-button class="kukku-button" ><h6>BCA</h6></button></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="openDialogbba()"><button mat-button class="kukku-button" ><h6>BBA</h6></button></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="openDialogbcom()"><button mat-button class="kukku-button" ><h6>BCOM</h6></button></mat-list-item>
                    <mat-divider></mat-divider>                   
                    <mat-list-item (click)="openDialogbmmc()"><button mat-button class="kukku-button" ><h6>BMMC</h6></button></mat-list-item>
                    
                  </mat-list>

                  <!-- <table class="table table-success table-striped-columns">
                
              
                    <thead>
                      <tr>
                        <th scope="col">SI.NO</th>
                        <th scope="col">Name of the Course</th>
                        <th scope="col">Eligibility</th>
                        <th scope="col">Time Period</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>BMMC</td>
                        <td>10+2 or its equivalent </td>
                        <td>3 Year</td>
                      </tr>
                      <tr>
                      <th scope="row">2</th>
                      <td>BA ECONOMICS</td>
                      <td>10+2 or its equivalent </td>
                      <td>3 Year</td>
                     </tr>
                     <tr>
                        <th scope="row">3</th>
                        <td>BA MALAYALAM</td>
                        <td>10+2 or its equivalent </td>
                        <td>3 Year</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>BA ENGLISH</td>
                        <td>10+2 or its equivalent </td>
                        <td>3 Year</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>BCOM FINANCE</td>
                        <td>10+2 or its equivalent </td>
                        <td>3 Year</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>BCOM CO-OPERATION</td>
                        <td>10+2 or its equivalent </td>
                        <td>3 Year</td>
                    </tr>
                       <tr>
                        <th scope="row">7</th>
                        <td>BSC MATHEMATICS</td>
                        <td>10+2 or its equivalent </td>
                        <td>3 Year</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>BSC PHYSICS</td>
                        <td>10+2 or its equivalent </td>
                        <td>3 Year</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>BSC CHEMISTRY</td>
                        <td>10+2 or its equivalent </td>
                        <td>3 Year</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>BBA FINANCE</td>
                        <td>10+2 or its equivalent </td>
                        <td>3 Year</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td> BCA</td>
                        <td>10+2 or its equivalent </td>
                        <td>3 Year</td>
                    </tr>
                    </tbody>
                  </table> -->

                </mat-expansion-panel>
                
              </mat-accordion>


              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h5 class="h5 pt-2">PG Programmes</h5>
                    </mat-panel-title>
                    
                  </mat-expansion-panel-header>

                  <mat-list >
                    <mat-list-item (click)="openDialogma()"><button mat-button class="kukku-button" ><h6>MA</h6></button></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="openDialogmsc()"><button mat-button class="kukku-button" ><h6>MSC</h6></button></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="openDialogmcom()"><button mat-button class="kukku-button" ><h6>MCOM</h6></button></mat-list-item>
                  
                   
                    
                  </mat-list>
                  
              <!-- <table class="table table-success table-striped-columns">
                
              
                <thead>
                  <tr>
                    <th scope="col">SI.NO</th>
                    <th scope="col">Name of the Course</th>
                    <th scope="col">Eligibility</th>
                    <th scope="col">Time Period</th>
                  </tr>
                </thead>
                <tbody>
            
                  <tr>
                  <th scope="row">1</th>
                  <td>MA ECONOMICS</td>
                  <td>Graduation </td>
                  <td>2 Year</td>
                 </tr>
                 <tr>
                    <th scope="row">2</th>
                    <td>MA MALAYALAM</td>
                    <td>Graduation </td>
                    <td>2 Year</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>MA ENGLISH</td>
                    <td>Graduation </td>
                    <td>3 Year</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>MCOM FINANCE</td>
                    <td>Graduation </td>
                    <td>2Year</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>MSC MATHEMATICS</td>
                    <td>Graduation</td>
                    <td>2 Year</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>MSC PHYSICS</td>
                    <td>Graduation </td>
                    <td>2 Year</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td> MCA</td>
                    <td>Graduation</td>
                    <td>2 Year</td>
                </tr>
                </tbody>
              </table> -->

                </mat-expansion-panel>
                
              </mat-accordion>


             

           </div>
          
          
            
          </div>
          
          </section>
    </section>


</div>