






<div class="container-fluid">



    <div class="row   kukku-adport-box ">

      <div class="navbar-brand  p-4 " href="#"> <img class="img-fluid " src="assets\img\CollegeLogoBW.png" alt="" width="160px" height="206px"></div>

        <div class="kukku-adport-content card text-center">

            

            <h3 class="kukku-adport-h1 p-5">STUDENTS EXAM PORTAL</h3>

            <div class="row pb-5">


                <div class="col-md-6 kukku-adport-pdiv">

                  <img class="img-fluid " src="assets\img\exam.jpg" alt="" >

                </div>

                <div class="col-md-6 kukku-adport-pdiv">

                    <div class="kukku-adport-login pt-5">
                      <div class="login-box">
                        <h2>Login</h2>


                        <form [formGroup]="login" (ngSubmit)="kukkulodIn(login)">
                          <div class="user-box">
                            <input type="text" name="" required="" formControlName="name">
                            <label>Name</label>
                          </div>
                          <div class="user-box k-eye-btn ">
                            
                            <input type="password" name="" required=""  formControlName="id" [(ngModel)]="loginId" [type]="hide ? 'password' : 'text'">
                            <span class=""><button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button></span>
                            <label>Register No</label>
                          </div>
                          <div>
                            <button type="submit" class="btn k-button ">
                          <a   >
                           
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Submit
                         
                          </a>
                        </button>
                        </div>
                        </form>
                      </div>
                    


 
                        <!-- <form [formGroup]="login" (ngSubmit)="kukkulodIn(login)">
                            <div class=" kukku-usadm-login-div pt-3">
                
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email"  formControlName="name">
                             
                            </div>
                            <div class="mb-3 kukku-usadm-login-div kukku-usadm-login-div-pass">
                             
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password" [type]="hide ? 'password' : 'text'" formControlName="id" [(ngModel)]="loginId">
                              <span class="" id="inputGroupPrepend3"><button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button></span>
                              
                              
                            </div>
                
                            <div class="pt-3 " style="float: left;"> 
                           
                                <button type="submit" class="btn kukku-adport-login-btn mb-3 " >Login</button>
                            </div>
                           
                            
                          </form> -->
                    </div>
                     
                </div>
            </div>




        </div>
    </div>
</div>