

<div class="kukku-main-div">

  <h1 mat-dialog-title class="kukku-h1 pt-3  text-center" >NAISARGGIKA ART AND SCIENCE COLLEGE, THRISSUR 
  </h1>
  <h3 mat-dialog-title class="kukku-h3   text-center" >Admissions 2023

  </h3>
  <mat-dialog-content class="kukku-con">
    
    <h4 mat-dialog-title class="kukku-h3">Instructions to the candidate:</h4>

    

      <ul type="square" class="">
      <li>
        Candidate should read all the instructions carefully before filling up the online
      application form.
      
      </li>
      <li>Candidate must meet all eligibility requirements stipulated by the University of Calicut
        and the Government of Kerala. Submission of the application should be made only
        through the link available on the college website at www.ac.in </li>
    </ul>

    <h4 mat-dialog-title class="kukku-h3">Requirements for online registration: 
    </h4>

    

    <ul type="square" class="">
    <li>
      A valid personal email ID. (If one does not have an email ID, he/she can create it under
      domains like gmail.com or yahoo.com free of cost.) All correspondence regarding the
      admission process will be made only to the e-mail id and/or phone number which the
      candidate provides in the application form. 

    
    </li>
    <li>Soft copy of passport sized colour photograph taken within the last six months, having
      the size of 150 px * 200px and scanned copy of signature.  </li>
  </ul>
      
    
  
      
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
   
  </mat-dialog-actions>
  
  </div>