

<div class="kukku-main-div">

    <h1 mat-dialog-title class="kukku-h1 pt-3 pb-4" >Bachelor of Multimedia Communication (BMMC)</h1>
    <mat-dialog-content class="kukku-con">
      
      <p><b>Bachelor of Multimedia Communication (BMMC)</b> is a three-year undergraduate program that is designed to build artistic and imaginative 
        concept among students. The main subjects of the BMC program are graphic design, visual design, 3D concepts, animation, lighting, and texturing.
    
        Students are also made familiar with the applications of design, video techniques,
         and how to create visual communication and effective web design for the website. 
         It also provides students with professional training in the field of advanced art, 
         video & shooting techniques for a better understanding of animation and visual effects in the multimedia field.
          The main aim of the course is to prepare candidates for the media industry. 
        
        Career opportunities are improving now in every field. The multimedia industry 
        is also flourishing a lot. BMMC graduates have a good number of job scopes. 
        But by pursuing this course, one can begin a career as a web designer, animator, digital artist, video game designer etc.
         Through the BMMC course, candidates come to know about how to use computer programmes to create different multimedia presentations.
          Candidates interested in doing different types of multimedia work can pursue this course. The course learning is included the emerging technologies,
           trends, and standard methodologies used in the multimedia sector.
        
        </p>
    
        
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Close</button>
     
    </mat-dialog-actions>
    
    </div>