

<div class="container-fluid">

    <section class="">
    
        <div class=" p-5">
            <div class="k-adpage text-center ">
              <img class="img-fluid " src="assets\img\CollegeLogoBW.png" alt="" width="160px" height="206px">
                <h3 class="pt-3 ">Exam Registration</h3>
            </div>

            
          
        <div class="row p-5 mx-auto k-admission-colbox text-center ">

            
      
          
      
          <div class="col-md-4 mx-auto">
      
           
              
            <a routerLink="/ad/aer" class="text-center  k-course-a ">
              <div class="k-course img-fluid ku-max-course ">
                <i class="fa-solid fa-file-pen img-fluid pt-4"></i>
              <h5 class="pt-4">EXAM REGISTRATION</h5>
          </div>
      </a>
    
           
    
        </div>


      
          <div class="col-md-4 mx-auto">
      
           
              
            <a routerLink="/ad/ari" class="text-center  k-course-a ">
              <div class="k-course img-fluid ku-max-course ">
                <i class="fa-solid fa-file-circle-plus img-fluid pt-4"></i>
              <h5 class="pt-4">NOTIFICATION INSERT</h5>
          </div>
      </a>
    
           
    
        </div>

          <div class="col-md-4 mx-auto">
      
           
              
              <a  routerLink="/ad/ara" class="text-center k-course-a">
                <div class="k-course img-fluid ku-max-course">
                  
                    <i class="fa-solid fa-file-lines img-fluid pt-4"></i>
                <h5 class="pt-4">NOTIFICATION ACTIVITIES</h5>
            </div>
        </a>
             
      
          </div>
      
          
      
         
        </div>
      
      
      </div>
      </section>
</div>