

<div class="kukku-main-div">

    <h1 mat-dialog-title class="kukku-h1 pt-3 pb-4" >Bachelor of Arts (BA)</h1>
    <mat-dialog-content class="kukku-con">
      
      <p><b>Bachelor of Arts (BA)</b> degree is an undergraduate postsecondary degree that puts a focus on liberal arts and studies.
        In comparison, a Bachelor of Science (BS) has a greater focus on science, math, and engineering. 
        The Bachelor of Arts degree is a type of baccalaureate degree.A Bachelor of Arts degree is usually completed in four years 
        because it requires four years of full-time coursework to earn. However, just as with other degrees, some may require a 
         time period. This is due to factors such as the student's ability, motivation, and access to financial assistance to earn the degree. 
         Just like other baccalaureate degrees, a bachelor of arts is traditionally offered only at public and private four-year universities and colleges.A 
         Bachelor of Arts, just like other bachelor's degrees is an admission requirement for graduate and professional school. Beginning in the 1990s, 
         community colleges started to confer their own baccalaureate degrees. In addition to the standard BA degrees, there are career-specific bachelor
          of arts degrees, including Bachelor of Arts in administration, Bachelor of Arts in interdisciplinary studies, and regents Bachelor of Arts.
        
        </p>
    
        
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Close</button>
     
    </mat-dialog-actions>
    
    </div>