

<div class="kukku-main-div">

    <h1 mat-dialog-title class="kukku-h1 pt-3 pb-4" >Master of Arts (MA)</h1>
    <mat-dialog-content class="kukku-con">
      
      <p><b>Master of Arts(MA)</b> is the holder of a master's degree 
        awarded by universities in many countries. The degree is usually contrasted
         with that of Master of Science. Those admitted to the degree have typically
          studied subjects within the scope of the humanities and social sciences, such 
          as history, literature, languages, linguistics, public administration, political science, 
          communication studies, law or diplomacy; however, different universities have different conventions
           and may also offer the degree for fields typically considered within the 
           natural sciences and mathematics. The degree can be conferred in respect 
           of completing courses and passing examinations, research, or a combination of the two.
        
        </p>
    
        
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Close</button>
     
    </mat-dialog-actions>
    
    </div>