<!-- 
<div class="container-fluid ">






  <div class="login-box">
    <h2>Login</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="nn" required="">
        <label>Password</label>
      </div>
      <a href="#" type="submit" >
       
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
     
      </a>
      
    </form>
  </div>

  
</div> -->


<!-- <h1> Image Gallery</h1> 
<div > 
  <div class="">
 
<div class=" table-responsive">
 <table class="table " id="gallery">

  <tr>
    <td><img src="assets\img\i\imagen1_small.jpg" class="mini" width="100" height="100" /><img src="assets\img\i\imagen1.jpg" class="pic"  /> </td>
    <td><img src="assets\img\i\imagen2_small.jpg" class="mini" width="100" height="100" /><img src="assets\img\i\imagen2.jpg" class="pic"  /> </td>
    <td><img src="assets\img\i\imagen3_small.jpg" class="mini" width="100" height="100" /><img src="assets\img\i\imagen3.jpg" class="pic"  /> </td>
    <td><img src="assets\img\i\imagen4_small.jpg" class="mini" width="100" height="100" /><img src="assets\img\i\imagen4.jpg" class="pic"  /> </td>
    <td><img src="assets\img\i\imagen5_small.jpg" class="mini" width="100" height="100" /><img src="assets\img\i\imagen5.jpg" class="pic"  /> </td>
    <td><img src="assets\img\i\imagen6_small.jpg" class="mini" width="100" height="100" /><img src="assets\img\i\imagen6.jpg" class="pic"  /> </td>


  </tr>
  
  <tr>
    <td><img src="assets\img\i\imagen7_small.jpg" class="mini" width="100" height="100" /><img src="assets\img\i\imagen7.jpg" class="pic"  /> </td>
    <td><img src="assets\img\i\imagen8_small.jpg" class="mini" width="100" height="100" /><img src="assets\img\i\imagen8.jpg" class="pic"  /> </td>
    <td><img src="assets\img\i\imagen9_small.jpg" class="mini" width="100" height="100" /><img src="assets\img\i\imagen9.jpg" class="pic"  /> </td>
    <td><img src="assets\img\i\imagen10_small.jpg" class="mini" width="100" height="100" /><img src="assets\img\i\imagen10.jpg" class="pic"  /> </td>
    <td><img src="assets\img\i\imagen11_small.jpg" class="mini" width="100" height="100" /><img src="assets\img\i\imagen11.jpg" class="pic"  /> </td>
    <td><img src="assets\img\i\imagen12_small.jpg" class="mini" width="100" height="100" /><img src="assets\img\i\imagen12.jpg" class="pic"  /> </td>


  </tr>

 </table>
      
</div> 
</div>
<div>    -->


  <!-- styletemp -->

<h1 name="">{{ name }}</h1>
<p>
  Start editing to see some magic happen :)
</p>
<div style="width: 840px; height: 600px; text-align:center;margin:0; padding:0;" class="text-center mx-auto">
  <div>
  <ng-image-slider #nav
    [images]="imageObject"
    [infinite]="false"
    [autoSlide]="1"
    [imageSize]="{width: '25%', height: 200}"
    slideImage="1"></ng-image-slider>
</div>
</div>