
<div class="kukku-main-div">

<h1 mat-dialog-title class="kukku-h1 pt-3 pb-4" >Bachelor of Business Administration (BBA)</h1>
<mat-dialog-content class="kukku-con">
  
  <p><b>Bachelor of Business Administration(BBA)</b>The degree is designed to give a broad knowledge of the functional aspects of a company and their interconnection,
     while also allowing specialization in a particular business-related academic discipline.
     BBA programs expose students to a range of core subjects and generally allow students to specialize in a specific
      business-related academic discipline or disciplines.
     The BBA degree also develops a student's practical, managerial, and communication skills, and business decision-making 
     capabilities that prepare them for the management of a business entity. Many programs incorporate training and practical
      experience in the form of case projects, presentations, internships, industrial visits, and interaction with established industry experts.
    
    General educational requirements emphasize humanities and social sciences, including history, economics, and literature. Core mathematics 
    curriculum are usually required and business-related, including quantitative mathematics, accounting, statistics, and related courses. Calculus
     for business or Calculus 101, and business statistics are usually required.
    
    </p>

    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
 
</mat-dialog-actions>

</div>