

<div class="kukku-main-div">

    <h1 mat-dialog-title class="kukku-h1 pt-3 pb-4" >Bachelor of Computer Applications (BCA)</h1>
    <mat-dialog-content class="kukku-con">
      
      <p><b>Bachelor of Computer Applications(BCA)</b> is a three-year undergraduate course in computer application. 
        This degree gives good knowledge in areas related to computer science, 
        the IT industry and networking. It is considered an alternative to an engineering degree 
        and students from science and non-math backgrounds can pursue a BCA degree. During the programme,
         a student studies topics like programming languages, database management, fundamentals of computing,
          operating, web designing and networking. After completing the BCA degree, a student can get hired in 
          various public and private sector firms.
        
        </p>
    
        
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Close</button>
     
    </mat-dialog-actions>
    
    </div>