<div class="">

<section>

    <div class=" ">
        <div class="k-addetails text-center ">
          <img class="img-fluid "  src="assets\img\admissionCover.jpg" alt=""  width="100%">
           
        </div>
        </div>


</section>

<section>

   
    <div class="kukku-open-div-blocks">

        <div class="row kukku-open-div">
            

            <div class="col-md-3"> <button mat-raised-button color="primary" class="kukku-open-button" (click)="showSuccess()">PROSPECTUS 2023</button></div>
            <div class="col-md-3"><button mat-raised-button color="primary" class="kukku-open-button"  (click)="openDialog() "> INSTRUCTIONS </button></div>
            <div class="col-md-3"><button mat-raised-button color="primary" class="kukku-open-button"  routerLink="/us/ua">REGISTRATION</button></div>
            <div class="col-md-3"><button mat-raised-button color="primary" class="kukku-open-button" routerLink="/us/uacl">CANDIDATE LIST</button></div>

        </div>

    </div>



</section>



</div>