

<div class="kukku-main-div">

    <h1 mat-dialog-title class="kukku-h1 pt-3 pb-4" >The Bachelor of Commerce (BCOM)</h1>
    <mat-dialog-content class="kukku-con">
      
      <p><b>The Bachelor of Commerce(BCOM) </b>degree is designed to provide students with a wide range of managerial skills,
         while building competence in a particular area of business. For a comparison with other business degrees, 
         see Business education § Undergraduate education.

        Most universities, therefore, plan the degree such that in addition to their major, students are exposed to general business 
        principles, taking courses in accounting, finance, economics, business management, human resources and marketing. Programs often
         require foundational courses in business statistics and mathematics, and information systems.
        
        Depending on the institution, a formal academic major may or may not be established. Regardless,
         a Bachelor of Commerce degree requires students to take the majority of their courses in business-related subjects, including the aside, among others.
        
        </p>
    
        
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Close</button>
     
    </mat-dialog-actions>
    
    </div>