





<div class="container-fluid">

    <section class="pb-5">
    
        <div class=" pt-3">
            <div class="k-ad-reg-page text-center ">
              <a class="navbar-brand  p-4 pt-5" href="#"> <img class="img-fluid " src="assets\img\CollegeLogoBW.png" alt="" width="160px" height="206px"></a>
                <h3 class="pt-3 ">Student Information</h3>
            </div>

        
          
        <div class="p-5 mx-auto k-exam-result-box text-center ">

           

     


       
           
        <div class="table-responsive ">





            <div class="student-profile py-5 ">
                <div class="container">
                  <div class="row mx-auto">
                    <div class="col-lg-4">
                      <div class="card shadow-sm">
                        <div class="card-header bg-transparent text-center p-2">
                          <!-- <img class="profile_img " src="https://placeimg.com/640/480/arch/any" alt=""> -->
                          <img class="profile_img " [src]="stInfo.img" alt="">
                          

                          <h3 class="p-2" style="color:  #014c78;">{{stInfo.name}}</h3>
                        </div>
                        <div class="card-body table-responsive k-stinfo-pd">
                          <table class="mx-auto">
                            <tr>
                                <td align="left"> Date Of Birth </td>
                                <td align="left" class="ps-3">: </td>
                                <td align="left" class="ps-2"> {{stInfo.dob}}</td>
                            </tr>
                            <tr>
                              <td align="left"> Contact No </td>
                              <td align="left" class="ps-3">: </td>
                              <td align="left" class="ps-2"> {{stInfo.phno}}</td>
                          </tr>
                          <tr>
                            <td align="left"> Email </td>
                            <td align="left" class="ps-3">: </td>
                            <td align="left" class="ps-2"> {{stInfo.email}}</td>
                        </tr>
                            
                        </table>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="card shadow-sm">
                        <div class="card-header bg-transparent border-0 pt-5">
                          <h3 class="mb-2" style="color:  #014c78;"> General Information</h3>
                        </div>
                        <div class="card-body table-responsive k-stinfo-pd k-stinfo-cd">
                          <table class="mx-auto">
                            <tr> 
                              <td align="left"> Roll No </td>
                              <td align="left" class="ps-5">: </td>
                              <td align="left" class="ps-5"> {{stInfo.id}}</td>
                            </tr>
                            <tr>
                                <td align="left"> Programme </td>
                                <td align="left" class="ps-5">: </td>
                                <td align="left" class="ps-5"> {{stInfo.sub}}</td>
                            </tr>
                            <tr>
                              <td align="left">Attentence </td>
                              <td align="left" class="ps-5">: </td>
                              <td align="left" class="ps-5"> {{stInfo.atten}}</td>
                          </tr>  
                          <tr>
                            <td align="left"> Internal Mark </td>
                            <td align="left" class="ps-5">: </td>
                            <td align="left" class="ps-5"> {{stInfo.imark}}</td>
                        </tr>         
                            
                        </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


           

            


           


          
          
           
            
                          

        </div>

      
      
          
      
          
      
         
        </div>
      
      
      </div>
      </section>
    
</div>








<!-- Student Profile -->




