

<div class="kukku-main-div">

    <h1 mat-dialog-title class="kukku-h1 pt-3 pb-4" >Bachelor of Science (BSc)</h1>
    <mat-dialog-content class="kukku-con">
      
      <p><b>Bachelor of Science(BSc) </b>is an undergraduate degree of three years duration which is
         universally offered across institutes and universities across India. BSc is one of the most 
         popular courses opted for by students who have a flair for scientific aptitude and zeal for 
         research-oriented and calculative approaches based on a proven systematic method. Science is all
         about experimentation, research and discovery. A BSc degree is a culmination of both theoretical 
         and practical ways of learning. Pursuing a BSc degree also opens up multiple avenues for a student
          and he/she can either opt for higher studies in Science or any other discipline which may be related
           to or different from the subjects studied during graduation. However,  a Master of Science (MSc)  is 
           the most popular higher education alternative opted for by students after completing BSc.
        
        </p>
    
        
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Close</button>
     
    </mat-dialog-actions>
    
    </div>