

<!-- <img [src]="url" alt=""><br>

<input type="file" (change)="onselectFile($event)"> -->


<!-- <h1>file upload</h1>
<input type="file" (change)="onFileSelect($event)" name="k">

<button (click)="onUploaded()">up</button> -->

<!-- <form action="" #k="ngForm">
<input type="text" name="m1" id=""  ngModel>
<input type="text" name="m2" id=""  ngModel>
<input type="text" name="m3" id="" ngModel>

<p>{{result}}</p>

<P>{{g}}</P>
</form>
<button type="submit" (click)="kuku()"></button>

<p>{{result}}</p> -->







<!-- 
<form #kukkuform='ngForm' (ngSubmit)="onSubmite(kukkuform.value)">
    ID:<br /> <input type="text" ngModel name="id" id="id"><br /><br />
    Name:<br /> <input type="text" ngModel name="name" id="name"><br /><br />
    Mark:<br /> <input type="text" ngModel name="mark" id="mark"><br /><br />
    <input class="bg-primary btn text-light " type="submit"  value="submit">
    </form> -->




    

    <div class="container-fluid">

        <section class="pb-5">
        
            <div class=" ">
                <div class="k-ad-reg-page text-center ">
                  <img class="img-fluid "src="assets\img\CollegeLogoB.png" alt="" width="198px" height="248px">
                    <h3 class="pt-3 ">Exam Registration</h3>
                </div>
    
                
              
            <div class="p-5 mx-auto k-admission-colbox text-center ">
  
              
    
                
            <div class="table-responsive ">
    
   
              <form action=""  #kukkuform='ngForm' (ngSubmit)="onSubmite(kukkuform.value)">
  
              <table class="table">
               
                <tbody class="k-table-uex-reg">
                  <br>
                  <br>
                  <tr>
                  
                    <td align="start">Registration No</td>
                    <td align="start">:</td>
                    <td><input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required  ngModel name="id" id="id"></td>
                   
                  </tr>
                  <br>
  
                  <tr>
                  
                    <td align="start">Name</td>
                    <td align="start">:</td>
                    <td><input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required  ngModel name="name" id="name"></td>
                   
                  </tr>
                  <br>
  
                  <tr>
                  
                    <td align="start">Date Of Birth </td>
                    <td align="start">:</td>
                    <td><input type="text" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required  ngModel name="dob" id="dob"></td>
                   
                  </tr>
                  <br>
  
                  
  
                  <tr>
                  
                    <td align="start">Department</td>
                    <td align="start">:</td>
                    <td><input type="number" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required  ngModel name="emark" id="emark" [(ngModel)]="m1"></td>
                   
                  </tr>
  
                  <br>
                  
  
                  <tr>
                  
                    <td align="start">Department</td>
                    <td align="start">:</td>
                    <td><input type="number" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required  ngModel name="imark" id="imark" [(ngModel)]="m2"></td>
                   
                  </tr>
                 
                  
  
                 
                  
                    
                    <td><input type="number" hidden class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required  ngModel name="tmark" id="tmark" [(ngModel)]="result"></td>
                    <br>
                 

                 
                  
                    <td><input   type="text" hidden class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required  ngModel name="g" id="tmark" [(ngModel)]="g"></td>
                   
                
  
                  
  
                 
  
  
  
                  
                 
                </tbody>
  
               
  
  
  
  
              </table>
  
              <div class="pt-3 text-center" align="center" >
                     
                <button  class=" btn kukku-usreg-ex-btn"  type="submit" (click)="kuku()">Register</button> 
              </div>
  
            </form>        
    
            </div>
              
          
          
              
          
              
          
             
            </div>
          
          
          </div>
          </section>
    </div>
  
  
  
  
  
  
  
  
  
  
  
  